<%- include('partials/header.ejs') %>
    <header>
        <h1>Computer Fundamentals</h1>
    </header>
    
    <br>
    <center>
        <img alt="Image for post" src="<%= randomAvatar %>" width=250px height=150px>
    </center>
    
    <hr />

        <br /><br />

        <main>
            
            <figure>
                <img src="img/computerImg.jpg" width=250px height=150px alt="computerImg"></img>

            </figure>

            <div>
                <details>
                    <summary>Computer Fundamentals</summary>
                    <p>A computer is a machine that can accept data, store, and processes information.</p>
                    <p>The physical aspect of a computer is something you can touch, such as the keyboard, monitor,.etc</p>
                    <p>The instruction that direct the computer are called software or program.</p>
                </details>
            </div>
        </main>

<%- include('partials/footer.ejs') %>