<%- include('partials/header.ejs') %>
        <br /><br />
        
        <main>
            
            <figure>
                <img src="img/mainframeComp.jpg" width=250px height=150px></img>
            </figure>
            
            <div>
                Mainframe Computer <br />
                <p>This computer is smaller and less powerful than the supercomputer, but is also very expensive.</p>
                <p>Today, the term mainframe is less used to refer to this type of computer.</p>
                <p>Instead, it's a server. As the name suggested, mainframe computer is used for centralizing the computers.</p>
                Source:<a href="https://www.ibm.com/support/knowledgecenter/zosbasics/com.ibm.zos.zmainframe/zconc_whatismainframe.htm">Link</a>
            </div>
        </main>
<%- include('partials/footer.ejs') %>