<%- include('partials/header.ejs') %>
        <br /><br />
        
        <main>
            
            <figure>
                <img src="img/pc.jpg" width=250px height=150px></img>
            </figure>
            
            <div>
                Personal Computer <br />
                <p>This computer is the one that most people use in their daily lives. It's a lot smaller and less powerful, but very
                inexpensive.</p>
                <p>A common personal computer consists of a CPU, RAM, and various input/output devices.</p>
                <p>The personal computer industry started to rise in 1977 with 8-bit microprocessors.</p>
                <p>By 2000, more than 50 percent of all households in the US owned a personal computer.</p>
                Source:<a href="https://www.britannica.com/technology/personal-computer/Faster-smaller-and-more-powerful-PCs">Link</a>
            </div>
        </main>

<%- include('partials/footer.ejs') %>