<%- include('partials/header.ejs') %>
        <br /><br />
        
        <main>
            
            <figure>
                <img src="img/superComp.jpg" width=250px height=250px></img>
            </figure>
            
            <div>
                Supercomputer <br />
                <p>The fastest, largest, most powerful and most expensive computer.</p>
                <p>This type of computer is used primarily for scientific and engineering work.</p>
                <p>Common applications include testing mathematical models for complex phenomena like climate and weather,
                to other things like cosmos and nuclear weapons.</p>
                Source:<a href="https://www.britannica.com/technology/supercomputer">Link</a>
            </div>
        </main>

<%- include('partials/footer.ejs') %>