body {
    background-image: linear-gradient(red, yellow);
    color: black;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding:15px;
    padding-bottom:4px;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-shadow: 2px 2px 5px blue;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    color: black;
    font-size: .75rem;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin-bottom: 0px;
    color: blue;
}